body {
    background-color:rgb(0, 0, 0);
}

form {
    display:block;
    width:450px;
    height:auto;
    margin:50px auto;
    padding:10px;
    border-radius:15px;
    background-color:rgb(84, 84, 84);
    font-size:16px;
    font-family:'Arial';
    color:rgb(255, 255, 255)
}

table {
    margin:0 auto;
}

table td {
    vertical-align: top;
}

table td.lbl {
    padding-top:12px;
}

#title {
    display:block;
    margin:0;
    padding: 20px;
    text-align:center;
    font-size:20px;
    color:rgb(0, 184, 246);
}

.box {
    width:200px;
    height:auto;
    margin-left:10px;
    padding:10px;
    border:none;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:rgb(190, 190, 190);
    font-size:16px;
    color:rgb(63, 63, 63);
}

#info {
    height:100px;
    resize:none;
}

#send{
    display:block;
    margin:0 auto 10px;
    margin-top: 20px;
    padding:7px;
    border:none;
    border-radius:10px;
    background-color:rgb(0, 128, 174);
    font-size:16px;
    color:rgb(255, 255, 255);
}
